.env
.vscode
*__pycache__*
.idea
.coverage
.ipynb_checkpoints
coverage.xml
.DS_Store
venv/
tox.ini

*.pickle
*.sqlite3
*.bin
*.txt
*.npy
*.csv
*.json
*.zip
*.svg
*.adoc
*.jsonl
CHANGES.md
README.md
SOURCE.md
